<div class="container-not-found">
    <div class="message">Pagina em Contrução ou Não Encontrada.
    </div>
    <div class="message2">Tente de novo mais tarde.</div>
    <div class="btn-notfound">
        <a href="">
            <button class="btn">voltar para pagina inicial</button>
        </a>
    </div>
    <div class="container">
        <div class="neon">404</div>
        <div class="door-frame">
            <div class="door">
                <div class="rectangle">
                </div>
                <div class="handle">
                </div>
                <div class="window">
                    <div class="eye">
                    </div>
                    <div class="eye eye2">
                    </div>
                    <div class="leaf">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>