.header__container {
    position: relative;
    width: 100%;
    height: 64rem;
    overflow: hidden;
}

.banner {
    margin: 0;
    background-image: url(https://s3-alpha-sig.figma.com/img/380b/31d8/00361f6eb3ee176f0d06a29f5134ff74?Expires=1737936000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MBRjYnr6XADW374uzOCrtZ9eGCx5OsCXhlrud~TaWpuH-XDrU2qVIbAtTzK-MVtkvhtr1eWHmguxFN0poAupjAHUSVKaJIvS-Y-oImUwfS2~IuvprvyhhyayJgtsUGbKHS9Sg5ZN0aYg~8ICnAfuHDJI-2XV5RjzgrAHYoyZlQwUVdGRMvYTOgF9sh0VJSVkpTvBMrWfo7RLMXZkqR0iohmM3PLK6PA7CoTePrsIoseHgW-ayNwksGiN4zvuzxrUIbbLZTLb9NdJW7ZJtdAoGtui0EKpxC82H2F-VKZZV1r9LI00FqQ1k6dmFYOdxb7kmpJ2aoKzIzlinRxuErAGWA__);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    filter: blur(2px);
}

.header__logo {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.headerlogo {
    width: 50rem; 
    max-width: 100%; 
    height: auto;
}
