.__navigation__ {
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    top: 62%;
    left: 99%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }
  
  .__list__navigation__ {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  
    ._list_navigation_ {
      position: absolute;
      right: 0;
      top: calc(var(--index) * 4rem);
      width: 2.44rem;
      height: 2.44rem;
      border-radius: 50%; 
      text-align: center;
      font-size: 0;
      color: white;
      overflow: hidden;
      transition: all 0.4s ease-in-out;
  
      &._s_ {
        background-color: #f16532;
        color: white;
      }
      &._t_ {
        background-color: #f9b92b;
        color: white;
      }
      &._e_ {
        background-color: #db3c51;
        color: white;
      }
      &._n_ {
        background-color: #2c7b95;
        color: white;
      }
      &._g_ {
        background-color: #320150;
        color: white;
      }
  
      ._txt_list {
        opacity: 0;
        font-size: 24px; 
        transition: opacity 0.4s ease-in-out;
      }
    }

    ._list_navigation_:hover {
      width: 11rem;
      height: 3.3rem;
      border-radius: 5rem;
      font-size: 1rem;
      overflow: visible;
    

      ._s_, ._t_, ._e_, ._n_, ._g_{
        color: white;
      }

  
      ._txt_list {
        opacity: 1;
        padding: 12px 0 0 0;
      }
    }
  }  