<div class="__navigation__">
  <ul class="__list__navigation__">
    <li class="_list_navigation_ _s_" style="--index: 0;">
      <p class="_txt_list"><a class="_s_" [routerLink]="'/sobre-nos'">sobre</a></p>
    </li>
    <li class="_list_navigation_ _t_" style="--index: 1;">
      <p class="_txt_list"><a class="_t_" href="#">territórios</a></p>
    </li>
    <li class="_list_navigation_ _e_" style="--index: 2;">
      <p class="_txt_list"><a class="_e_" href="#">eventos</a></p>
    </li>
    <li class="_list_navigation_ _n_" style="--index: 3;">
      <p class="_txt_list"><a class="_n_" href="#">notícias</a></p>
    </li>
    <li class="_list_navigation_ _g_" style="--index: 4;">
      <p class="_txt_list"><a class="_g_" [routerLink]="'/governanca'">governança</a></p>
    </li>
  </ul>
</div>
<div class="__menu__mobile__" *ngIf="isMobile">
  <button class="_btn_menu_" (click)="toggleMenu()">menu</button>
  <div class="menu_list_mobile" *ngIf="menuOpen">
    <ul class="mobile-menu">
      <li class="list-mobile _i_"><a href="#">Início</a></li>
      <li class="list-mobile _s_"><a [routerLink]="'/sobre-nos'">Sobre</a></li>
      <li class="list-mobile _t_"><a href="#">Territórios</a></li>
      <li class="list-mobile _e_"><a href="#">Eventos</a></li>
      <li class="list-mobile _n_"><a href="#">Notícias</a></li>
      <li class="list-mobile _g_"><a href=[routerLink]="'/governanca'">Governança</a></li>
      <li class="list-mobile _exit_" (click)="toggleMenu()">Sair</li>
    </ul>
  </div>
</div>



