.__about__ {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 15rem;
}

p{
    line-height: 52px;
}
.__about_us__ {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 10rem;
}

.letreiro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha {
    width: 100%;
    height: 3px;
    background-color: var(--color-black);
}

.txt_letreiro {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 2rem 0;
}

.txt_about {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
    animation: scroll-horizontal 10s linear infinite;
}

.txt_item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.__txt-0__ {
    font-weight: bold;
    font-size: 13rem;
    white-space: nowrap;
}

.point {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-black);
    position: relative;
    top: 1rem;
}

@keyframes scroll-horizontal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.__apresentacao__content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 5rem;
}

.__apresentacao__content__paragrafo_1,
.__apresentacao__content__paragrafo_2 {
    font-size: 35px;
    margin: 0 72rem 0 2rem;
    padding: 2rem;
    text-align: justify;
}

._eixos_img_ {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 8rem;
}

.img_content {
    animation: rotate-center 17s linear infinite both;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.txt_3 {
    font-weight: bold;
    font-size: 6rem;
    padding: 2rem 0;
}

.__eixos__title,
.__video__title {
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    padding: 1.4rem;
    margin: 1rem 34rem 9rem 1rem;
    text-transform: uppercase;
    text-decoration: underline;
}

._video_institucional_ {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

._video_institucional_ {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 76vh;
    margin: 2rem;
    padding: 2rem;
}

.video_content {
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    max-width: 120rem;
    max-height: 75rem;
}
