.__territorios__ {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 10rem;
}

p{
    line-height: 52px;
}

.images_territorios_{
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 3rem;
}

.__apresentacao__content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.__apresentacao__content__paragrafo_1 {
    font-size: 35px;
    margin: 0 72rem 0 2rem;
    padding: 2rem;
    text-align: justify;
}

.__img__ {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    ._img_ {
        width: 27rem;
    }
}

._txt_territorios {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: black;
    word-break: break-word;
    text-decoration: none;
}
._txt_content_{
    width: 21rem;
    word-break: break-word;
}

._img_and_txt_{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
}