.__territorio__page___ {
    padding: 5rem 1rem 1rem 1rem;
    margin: 1rem;
}

.content-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.__page___ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 107rem;

    .txt_inicial {
        width: 54rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        gap: 5rem;
    }
}

.img_inicial{
    width: 50rem;
}

._image_inicial {
    width: 45rem;
}

.title_inicial {
    font-weight: bold;
    font-size: 9rem;
    width: 48rem;
}

.txt-p {
    font-size: 25px;
    width: 54rem;
    text-align: justify;
    padding: 10px 0;

    &.txt2 {
        width: 40rem;
    }
}
.ancora {
    font-size: 29px;
    font-weight: bold;
    padding: 1rem 0;
}
.carrosel-1,
.carrosel-2 {
    padding: 15rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.txt-maps {
    position: relative;
    right: 23rem;
}
.title-maps {
    font-size: 4rem;
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
}

.carousel-containe {
    position: relative;
    overflow: hidden;
    width: 65%;
    max-width: 120rem;
    margin: 20px auto;
    border-radius: 10px;

    .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }

    .carousel-item {
        min-width: 100%;
        text-align: center;

        .img-carrosel-1 {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }

    .control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;

        &.prev {
            left: 10px;
        }

        &.next {
            right: 10px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 68rem;
    gap: 6rem;

    .carousel-main {
        display: flex;
        gap: 1rem;
        width: 120rem;
        justify-content: center;
        align-items: stretch;

        .carousel-images {
            width: 70%;
            height: auto;
            border-radius: 15px;
            position: relative;
            top: 7rem;
            &.slide-animation {
                animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
        }

        .carousel-description {
            width: 15%;
            font-size: 1rem;
            color: #333;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 80%;
            flex-wrap: nowrap;
            align-items: flex-start;
        }
    }

    .carousel-thumbnails {
        display: flex;
        gap: 5rem;
        overflow: hidden;
        width: 75%;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        .thumbnail {
            flex: 1;
            height: 12rem;
            width: 10rem;
            cursor: pointer;
            transition: transform 0.3s;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 3rem;
                border: 2px solid transparent;
            }

            &.slide-animation {
                animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }

            &.active img {
                transform: scale(1.1);
            }
        }
    }

    .carousel-next {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        font-size: 4rem;
        background: #ffffff;
        color: rgb(0, 0, 0);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

/* Efeitos de animação */
@keyframes slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100px);
    }
}

@keyframes slide-top {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100px);
    }
}
