<div class="__territorio__">
  <div>
    <app-sticky-hold [isHomePage]="false"></app-sticky-hold>
  </div>
  <div class="__territorio__page___">
    <div class="content-1">
      <div class="__page___">
        <div class="txt_inicial">
          <div class="title_inicial">
            <h1 class="title_inicial">{{ territorio.title }}</h1>
          </div>
          <div class="__txt_1__">
            <p class="txt-p">{{ territorio.texto_0 }}</p>
          </div>
          <div class="__txt_2__">
            <p class="txt-p">{{ territorio.texto_1 }}</p>
          </div>
        </div>
        <div class="_image_inicial">
          <img class="img_inicial" [src]="territorio.img" alt="">
          <div class="txt_inicial">
            <p class="txt-p txt2">{{ territorio.texto_2 }}</p>
            <div class="_list_equipe_" *ngIf="territorio && territorio.equipe">
              <h2 class="ancora">{{ territorio.funcao }}</h2>
              <ul *ngFor="let membro of territorio.equipe">
                <li class="txt-p txt-list">{{ membro.equipe_txt }}</li>
                <li class="txt-p txt-list">{{ membro.nome }}</li>
                <li class="txt-p txt-list">{{ membro.endereco }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="_carroseis_">
      <div class="_carrosel_mapas_">
        <div class="carrosel-1">
          <div class="carousel-container">
            <div class="carrosel-1">
              <div class="txt-maps">
                <h2 class="title-maps">Mapas</h2>
              </div>
              <div class="carousel-containe">
                <div class="carousel" [style.transform]="'translateX(' + (-currentSlide * 100) + '%)'">
                  <div class="carousel-item" *ngFor="let mapa of territorio.mapas[0] | keyvalue; let i = index">
                    <img class="img-carrosel-1" [src]="mapa.value" [alt]="'Imagem do Mapa ' + (i + 1)" />
                  </div>
                </div>
                <button class="control prev" (click)="prevSlide()">&lt;</button>
                <button class="control next" (click)="nextSlide()">&gt;</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="txt-apresentacao">
        <h3 class="apresentacao">Conheça um pouco mais o {{territorio.title}}</h3>
      </div>
      <div class="_carrossel_territorios_atividades_">
        <div>
          <section class="carousel__container__atividades">
            <div class="container">
              <div class="carousel_title">
                <p class="title-territorio">Imagens do território</p>
              </div>
              <div class="carousel">
                <input *ngFor="let slide of territorio.carrossel_territorios; let i = index" type="radio"
                  name="slides-territorios" [checked]="i === 0" [id]="'slide-territorios' + (firstVisibleIndex + i)"
                  class="input_atividades">
                <ul class="carousel__slides">
                  <li *ngFor="let slide of territorio.carrossel_territorios; let i = index" class="carousel__slide">
                    <figure class="carousel__slide__figure_atividades">
                      <div class="carousel__slide__atividades__div">
                        <img [src]="slide.img" alt="Slide {{ firstVisibleIndex + i }}"
                          class="carousel__slide__atividades__img">
                      </div>
                      <figcaption class="carousel__slide__figcaption">
                        <span class="slide_text_atividades"><p class="_txt_">{{ slide.caption }}</p></span>
                      </figcaption>
                    </figure>
                  </li>
                </ul>
                <ul class="carousel__thumbnails">
                  <li *ngFor="let slide of territorio.carrossel_territorios; let i = index"
                    class="carousel__thumbnails__li_atividades">
                    <label [for]="'slide-territorios' + (firstVisibleIndex + i)"
                      class="carousel__thumbnails__label_atividades">
                      <img [src]="slide.img" alt="Thumbnail {{ firstVisibleIndex + i }}" class="img_atividades_id">
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
        <div>
          <section class="carousel__container__atividades">
            <div class="container">
              <div class="carousel_title">
                <p class="title-atividades">Atividades no Território</p>
              </div>
              <div class="carousel">
                <input *ngFor="let slide of paginatedSlides; let i = index" type="radio" name="slides-atividades"
                  [checked]="i === 0" [id]="'slide-atividades' + (firstVisibleIndex + i)" class="input_atividades">
                <ul class="carousel__slides">
                  <li *ngFor="let slide of paginatedSlides; let i = index" class="carousel__slide">
                    <figure class="carousel__slide__figure_atividades">
                      <div class="carousel__slide__atividades__div">
                        <img [src]="slide.img" alt="Slide {{ firstVisibleIndex + i }}"
                          class="carousel__slide__atividades__img">
                      </div>
                      <figcaption class="carousel__slide__figcaption">
                        <span class="slide_text_atividades"><p class="_txt_">{{ slide.caption }}</p></span>
                      </figcaption>
                    </figure>
                  </li>
                </ul>
                <ul class="carousel__thumbnails">
                  <li *ngFor="let slide of paginatedSlides; let i = index" class="carousel__thumbnails__li_atividades">
                    <label [for]="'slide-atividades' + (firstVisibleIndex + i)"
                      class="carousel__thumbnails__label_atividades">
                      <img [src]="slide.img" alt="Thumbnail {{ firstVisibleIndex + i }}" class="img_atividades_id">
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

  </div>
</div>