<div class="__news__">
    <div class="sticky-container">
        <app-sticky-hold [isHomePage]="false"></app-sticky-hold>
    </div>
    <div class="letreiro">
        <app-letreiro titulo="notícias"></app-letreiro>
    </div>
    <div class="__card_news__">
        <div class="card_news" *ngFor="let news of newsList let i = index">
            <div [class]="'_card_news_' + (i + 1)">
                <div class="img_card">
                    <img class="card_img" [src]="news.img" alt="{{ news.title }}">
                </div>
                <div class="card">
                    <div class="card-body">
                        <ng-template #externalLink>
                            <a [href]="news.link" target="_blank" class="btn">
                                <div>
                                    <h5 class="card-title">{{ news.title }}</h5>
                                </div>
                            </a>
                        </ng-template>
                        <div>
                            <p class="date">{{ news.date }}</p>
                        </div>
                        <a *ngIf="news.url; else externalLink" [routerLink]="['/news', news.url]" class="btn">
                            <h5 class="card-title">{{news.title}}</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>