<div class="__letreiro__">
    <div class="letreiro">
        <div class="linha"></div>
        <div class="txt_letreiro">
            <div class="txt_governance">
                <ng-container *ngFor="let i of [].constructor(repeatCount); let index = index">
                    <div class="txt_item">
                        <h1 class="__txt-0__">terste</h1>
                        <div class="point"></div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="linha"></div>
    </div>
</div>